

.container {
    position: relative;
    width: 600px;
    height: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #1A262D;
    border-style: outset;
    overflow: hidden;
    
}

.anhmeo img {
    position: absolute;
    right: 50px;
    bottom: 100px;
    width: 180px;
    height: 210px;
}

.anhtroi img {
    position: absolute;
    right: 50px;
    bottom: 380px;
    width: 180px;
    height: 210px;
}

.camgoc {
    position: absolute;
    background-color: #E08F28;
    width: 200px;
    height: 260px;
    transform: rotate(45deg);
    right: -78px;
    bottom: -110px;
}

.camgoc .text {
    transform: rotate(-90deg);
    width: 130px;  
    margin-top: 104px;
    margin-left: -20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}

.bodergoc-left {
    position: absolute;
    border: 5px solid #E08F28;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    right: -20px;
    top: -100px;
}

.bodergoc-right {
    position: absolute;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    right: -85px;
    top: 50px;
}

.name{
    position: absolute;
    font-size: 60px;
    transform: rotate(-90deg);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 190px;
    left: -170px;
    letter-spacing: 5px;
}



.minh{
    position: absolute;
    font-size: 70px;
    transform: rotate(-90deg);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: -70px;
    bottom: 520px;
    letter-spacing: 20px;
}

.ptgp {
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 8px;
    height: 30px;
    width: 150px;
    top: 102px;
    transform: rotate(-90deg);
    background-color: #1A262D;
    padding-left: 0px;
}

.chutren {
    position: absolute;
    font-size: 13px;
    top: 10px;
    left: 90px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.center {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 150px;
    top: 50px;
    width: 200px;
}

.skill {
    color: #E08F28;
    font-size: 20px;
    margin-bottom: 7px;
}

.textskill {
    color: white;
    font-size: 11px;
    letter-spacing: 0.8px;
}

.textskill1 {
    letter-spacing: 0.8px;
    color: white;
    font-size: 11px;
    padding-right: 10px;
    margin-top: 5px;
}

.textskill1 .fas {
    padding-left: 3px;
    font-size: 9px;
    float: right;
}

.textskill1 .chim {
    color: #5E686C;
    font-size: 9px;
}
